.container {
  height: 100vh;
  width: 100%;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000;
  margin-bottom: 2rem;
}
.buttons {
  display: flex;
}
.btn {
  margin: 0 2rem;
  min-width: 70px;
  width: auto;
}
